body {
    font-family: Arial, sans-serif;
    background-color: #ededed;
}

header {
    text-align: center;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
}

button {
    text-align: center;
    padding: 10px 20px;
    background-color: white;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
}
